html,
body,
g-note {
  height: 100%;
}

g-note {
  --size-padding-horizontal: 1.25rem;
}

.header {
  background-color: var(--color-ribbon-note, var(--color-ribbon-note-default));
  display: flex;
  justify-content: space-between;
  transition: transform .2s;
  padding: 0 var(--size-padding-horizontal) var(--size-height-ribbon);
}

.header[hidden] {
  transform: translateY(-100%);
}

.header__actions {
  display: flex;
  width: max-content;
  justify-content: space-between;
}